<button mat-raised-button class="save-jobApplication-Button">
    <mat-icon>
        <span class="material-symbols-outlined">save</span>
    </mat-icon>
    Save
</button>

<button mat-raised-button class="delete-jobApplication-Button">
    <mat-icon>
        <span class="material-symbols-outlined">delete</span>
    </mat-icon>
    Delete
</button>

<button mat-raised-button class="close-jobApplication-Button" (click)="onClose()">
    <mat-icon>
        <span class="material-symbols-outlined">close</span>
    </mat-icon>
    Close
</button>

<form class="job-Application-Form">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Job Requisition ID</mat-label>
                    <input type="text" matInput placeholder="Job Requisition ID">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Job Title</mat-label>
                    <input type="text" matInput placeholder="Job Title">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter Type of Job</mat-label>
                    <mat-select>
                        <mat-option value="partTime">Part Time</mat-option>
                        <mat-option value="fullTime">Full Time</mat-option>
                        <mat-option value="contract">Contract</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Location of Job</mat-label>
                    <input type="text" matInput placeholder="Job Location">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Job Posted Date</mat-label>
                    <input matInput [matDatepicker]="datepicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>About the Company</mat-label>
                    <input type="text" matInput placeholder="Company Description">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>About the Role</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Application deadline date</mat-label>
                    <input matInput [matDatepicker]="deadlineDatepicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #deadlineDatepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter Job Location Address</mat-label>
                    <input type="text" matInput placeholder="Job Location Address">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter Referred Employee Name</mat-label>
                    <input type="text" matInput placeholder="Referred Employee Name">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Select Application Status</mat-label>
                    <mat-select>
                        <mat-option value="Applied">Applied</mat-option>
                        <mat-option value="Rejected">Rejected</mat-option>
                        <mat-option value="Shortlisted">Shortlisted</mat-option>
                        <mat-option value="Interview stage">Interview stage</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>