table {
    width: 100%;
}

.container {
    padding-bottom: 16px;
}

.add-new-jobApplication-button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 5px;
    width: 15%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-title {
    margin: 0;
}

.spacer {
    flex: 1;
}

.menu-container {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}