table {
    width: 100%;
}

.container {
    padding-bottom: 16px;
}

.add-new-jobApplication-button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 5px;
    width: 15%;
}