<div class="login-container">
    <div class="container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card class="login-box">
                <mat-card-header>
                    <img mat-card-avatar src="../../assets/user.png" alt="User Logo">
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <mat-form-field>
                            <input matInput type="email" placeholder="Enter your Email address" formControlName="username" required>
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Email is required</mat-error>
                            <mat-error *ngIf="loginForm.get('username')?.hasError('email')">Invalid Email format</mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Enter your Password" formControlName="password" required>
                            <mat-icon matSuffix>password</mat-icon>
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password should be atleast 6 characters long</mat-error> 
                        </mat-form-field>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary">Login</button>
                </mat-card-actions>
                <p> Don't have an account? <a mat-button (click)="navigateToSignUp()">Sign Up</a></p>
            </mat-card>
        </form>
    </div>
</div>